.page {
  font-size: 1rem;
  background: rgb(251,205,207);
  background: linear-gradient(168deg, rgba(251,205,207,1) 13%, rgba(196,113,237,1) 41%, rgba(18,194,233,1) 77%);
  font-family: "Segoe UI",'DM Sans', "Helvetica Neue", Arial, sans-serif;
}

.page-header {
  justify-content: center !important;
}


footer {
  background-color: transparent !important;
  border-top: 1px solid rgba(0, 40, 100, 0.12) !important;
}

a:not([href]):not([tabindex]).btn-primary {
  color: white !important;
}

.header {
  background-color: transparent;
}

.header a:not(.btn) {
  /*color: #6e7687;*/
  font-size: 1rem;
}

.header a > i {
  padding-right: 0.25rem !important;
}

.nav-tabs .nav-link {
  border-width: 3px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #0D1E3B;
  border-color: #dee2e6 #dee2e6 #0D1E3B;
  font-weight: 500;
}

.header-toggler {
  align-self: center;
}



.hide {
  display: none !important;
}

.accordion__button {
  cursor: pointer;
}

.accordion__button:focus {
  outline: none !important;
}

button:disabled {
  cursor: not-allowed;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

a.disabled > div {
    opacity: 0.8;
}


.no-decoration {
  text-decoration: none !important;
  text-decoration-skip-ink: none !important;
  color: #0D1E3B !important;
}

.card-payment-type-image {
  max-width: 80px;
}

.card-payment-type-summary {
  height: 120px;
}

.height-200 {
  height: 200px !important;
}

.whitespace-preline {
  white-space: pre-line;  
}

.card-subtitle {
  margin-top: .375rem !important;
  margin-bottom: .375rem !important;
  line-height: inherit !important;
}

.card-title a {
  color: #467fcf;
}

.progress {
  border-radius: 0 !important;
}

.progress-bar-container {
  margin: -0.25rem !important;
}

